@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

@layer components {
  .input {
    @apply outline-none border border-gray-300 px-4 py-2 my-2 text-awblack text-xs;
  }
  .input-error {
    @apply text-xs mb-2 text-right text-red-500;
    font-family: cursive;
  }
  .trans-button {
    @apply bg-awblack text-transparent px-4 py-2 text-xs font-bold bg-gradient-to-r from-red-500 to-green-500 bg-clip-text border border-gray-300 rounded-lg;
  }
  .button {
    @apply bg-white text-black px-4 py-2 text-xs font-bold border border-gray-300 rounded-lg relative;
  }
  .spinner {
    @apply w-5 h-5 border-2 border-black border-b-0 rounded-full animate-spin absolute top-1.5 left-7;
  }
}

.slideLeft {
  animation: slideLeft 300ms ease-in;
}

.slideRight {
  animation: slideRight 300ms ease-in;
}

@keyframes slideLeft {
  from {
    right: -30%;
  }
  to {
    right: 0%;
  }
}

@keyframes slideRight {
  from {
    right: 0%;
  }
  to {
    right: -30%;
  }
}
